<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter a Keyword:</h1>
    <form id="keywordForm" method="post" >
        {% csrf_token %}
        <label for="keyword">Keyword:</label>
        <input type="text" id="keyword" name="keyword" required>
        <button type="submit">Submit</button>
    </form>
    <h1>keyword : {{data.key}}</h1>
</body>
</html>